<span class="c-paragraph">Customized Date Idea</span>

<div role="menu" class="c-card__body date-option-holder">
    <!-- Date Idea-->
    <div class="o-grid o-grid--demo">
        {% for place in placeOptions %}
        <div class="date-option {{'selected-date' if 'selected' in place else ''}}">
            <div class="o-grid__cell">
                <div class="place-pic">
                    <a href="{{place.link}}" target="_blank">
                        <img style="object-fit: cover; width: 220px; height: 120px;" src="{{place.imageurl}}"/>
                    </a>
                </div>
                <form action= "/initial/" method= "post" style="width: 220px">
                    <input type="submit" role="menuitem" name="date" class="c-card__control" value="Choose {{place.name}}">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
