<span class="c-paragraph">Choose your best match</span>
<div class="c-card">
    <!-- Date options-->
    <div role="menu" class="c-card__body date-option-holder">
        <div class="date-option">
            <img class="profile_image" src="../static/profile_image.jpg">
            <div class="c-paragraph date-option-header">Selected Review:</div>
            <div class="c-paragraph">We met for coffee at Fox in the Snow Cafe. She had a nice and bubbly personality. She talked a lot about politics and and her major whuch was Civil Engineering. Overall, she seemed like an interesting person with a good sense of humor.</div>
            <button role="menuitem" class="c-card__control">Choose Kat</button>
        </div>

        <div class="date-option">
            <img class="profile_image" src="../static/profile_image.jpg">
            <div class="c-paragraph date-option-header">Selected Review:</div>
            <div class="c-paragraph">Met up with him for drinks and dinner. He was funny and cute. I was laughing throughout the date and had a great time. He also seemed very passionate about his career goals and his family. Would definitely like to have another date with him.</div>
            <button role="menuitem" class="c-card__control">Choose Handsome</button>
        </div>

        <div class="date-option">
            <img class="profile_image" src="../static/profile_image.jpg">
            <div class="c-paragraph date-option-header">Selected Review:</div>
            <div class="c-paragraph">We went to get drinks and dinner at Cazuelas. He was really psyched about the OSU game on Sunday and was very enthusiastic about the NBA as well. He was a business major and seemed outgoing and confident. Had a fun time</div>
            <button role="menuitem" class="c-card__control">Choose Matt</button>
        </div>
    </div>
</div>
