<span class="c-paragraph">Choose your best match</span>
<div class="c-card">
    <!-- Date options-->
    <div role="menu" class="c-card__body date-option-holder">
        {%for date in dateOptions %}
        <div class="date-option {{'selected-date' if 'selected' in date else ''}}">
            <div class="c-avatar profile_image">
                <img class="c-avatar__img" alt="a profile image" src="../static/profile_image.jpg">
            </div>
            <div class="c-paragraph date-option-header">Selected Review:</div>
            <div class="c-paragraph">
                {{date.highlighted_review}} 
            </div>
            <form action= "/initial/" method= "post">
                <input type="submit" role="menuitem" name="place" class="c-card__control" value="Choose {{date.name}}">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
