html { font-family: sans-serif; background: #eee; padding: 2rem; }

.date-option-holder {
    padding: 5px;
}

.date-option-holder > div.date-option:nth-of-type(odd){
    background-color: #ede;
}

.date-option-holder > div.date-option:nth-of-type(even){
    background-color: #ccf;
}

.profile_image {
   width: 50px;
    height: 50px;
    float: left;
}

div.selected-date {
    border: 5px;
    border-style: double;
}
